{%extends 'base.html'%}

{%block head%}
<title>Home</title>
{%endblock%}

{%block body%}
<br>
<h1>Homepage</h1>
<br>
<div class="jumbotron">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">Welcome to Avishek's Blog</p>
    <hr class="my-4">
    <p>This is my first python Flask webapp project. The source code is available at <a href="https://github.com/davishek7/flaskblogapp">here</a>.</p>
    <a class="btn btn-primary btn-lg" href="/posts" role="button">Go To Posts</a>
</div>
{%endblock%}