{%extends 'base.html'%}

{%block head%}
<script src="https://cdn.ckeditor.com/4.15.0/full/ckeditor.js"></script>
<title>New Post</title>
{%endblock%}

{%block body%}
<h1>New Post</h1>

<hr>
<h2>Create New Blog Post:</h2>
<form action='/posts/new' method='POST'>
    <label for="title">Title:</label>
    <input class="form-control mr-sm-2" type="text" aria-label="Enter Title" name="title" id="title">
    <br>
    <label for="author">Author:</label>
    <input class="form-control mr-sm-2" type="text" aria-label="Enter Author" name="author" id="author">
    <br>
    <label for="content">Post:</label>
    <textarea class="form-control" rows="3" name="content" id="content"></textarea>
    <script>
        CKEDITOR.replace('content');
    </script>
    <br>
    <input type='submit' value='Post'>
</form>
<hr>

{%endblock%}